<section class="about grid-section" id="about">
  <h2 class="about__title section-title">Кто я такой?!</h2>
  <div class="about__descr">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam dolor velit deleniti autem at iure ipsum mollitia quidem magni accusantium, eaque labore nisi recusandae eveniet, quos architecto voluptates iusto odit quas delectus. Quae, inventore? Error, repellendus ipsa dicta itaque dignissimos nobis, cupiditate quasi voluptas aut quisquam alias facilis fuga laudantium eveniet quidem harum inventore accusantium nisi. Expedita cumque distinctio vitae libero officiis non ducimus voluptatum ut assumenda, perferendis necessitatibus similique dolore unde aperiam aut molestiae quos amet iusto voluptate debitis autem. Accusantium earum omnis provident sunt asperiores tempora mollitia nobis cum laborum soluta eos qui, nostrum cupiditate porro, voluptates ullam?</p>
  </div>
  <div class="about__photo">
    <picture>
      <source srcset="img/about.webp" type="image/webp">
      <img loading="lazy" src="img/about.jpg" class="image"  alt="my photo">
    </picture>
    <picture>
      <source srcset="img/g-glass.webp" type="image/webp">
      <img loading="lazy" src="img/g-glass.png" class="glasses-image"  alt="g-glasses">
    </picture>
    <p class="about__meme">Code well or die tryin'!</p>
  </div>
  <div class="about__stack">
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/react.svg" class="image" width="50" height="50" alt="technology logo">
      <p>ReactJs</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/next.svg" class="image" width="50" height="50" alt="technology logo">
      <p>NextJs</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/redux.svg" class="image" width="50" height="50" alt="technology logo">
      <p>Redux</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/html.svg" class="image" width="50" height="50" alt="technology logo">
      <p>Html5</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/css.svg" class="image" width="50" height="50" alt="technology logo">
      <p>CSS3</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/js.svg" class="image" width="50" height="50" alt="technology logo">
      <p>JavaScript</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/scss.svg" class="image" width="50" height="50" alt="technology logo">
      <p>SCSS</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/webpack.svg" class="image" width="50" height="50" alt="technology logo">
      <p>Webpack</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/gulp.svg" class="image" width="50" height="50" alt="technology logo">
      <p>GULP</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/docker-svgrepo-com.svg" class="image" width="50" height="50" alt="technology logo">
      <p>Docker</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/node.svg" class="image" width="50" height="50" alt="technology logo">
      <p>NodeJs</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/strapi.svg" class="image" width="50" height="50" alt="technology logo">
      <p>Strapi CMS</p>
    </div>
    <div class="about__stack-item">
      <img loading="lazy" src="img/svg/wordpress.svg" class="image" width="50" height="50" alt="technology logo">
      <p>Wordpress CMS</p>
    </div>
  </div>
  <div class="about__game game">
    <div class="game__wrapper">
      <p>лови птицов, не врезайся в ящики, все будет хорошо.</p>
      <button class="btn-reset hero__subtitle">START</button>
      <p>ЗЫ: Прыгай на пробел</p>
    </div>

    <div class="game__content container">
      <div class="game__pause">
        ||
      </div>
      <p class="game__score">Score: <span>0</span></p>
      <picture>
        <source srcset="img/game_char.webp" type="image/webp">
        <img loading="lazy" src="img/game_char.png" class="game__char" alt="">
      </picture>
      <picture>
        <source srcset="img/game__villian.webp" type="image/webp">
        <img loading="lazy" src="img/game__villian.png" class="game__villian" alt="">
      </picture>
    </div>
  </div>
</section>
