<section class="hero">

  <canvas class="hero__canvas">
  </canvas>
  <div class="hero__content container">
    <h1 class="hero__title">Привет! Меня зовут Тимур, я Frontend разработчик.</h1>
    <div class="hero__descr">
      <a href="#" class="hero__subtitle">VanilaJs</a>
      <a href="#" class="hero__subtitle">ReactJs</a>
      <a href="#" class="hero__subtitle">NextJs</a>
      <a href="#" class="hero__subtitle">Wordpress</a>
    </div>
    <a href="#about" class="hero__button">
      <picture>
        <source srcset="img/1163.webp" type="image/webp">
        <img loading="lazy" src="img/1163.png" class="image" width="100" height="100" alt="invader">
      </picture>
    </a>
  </div>
</section>
